
<div>

<div class="row">
    <div class="large-6 medium-centered columns">
      <ul class="inline-list">
        <li>  <%= form_for @list do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.submit class: "button radius" %>
          <% end %>
        </li>
          <li>
            <br/>
          </li>
        <li>  <%= form_for @item do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :list %>
          <%= f.select :list_id, List.all.where(user_id:current_user.id).collect {|list| [list.title, list.id]} %>
          <%= f.label :due_date %>
          <%= f.date_field :due_date %>
          <%= f.submit class: "button radius" %>
        <% end %>
      </li>
      </ul>
    </div>
  </div>

  <div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li>
        <div class="small-block-grid-1 title">
          <div class="titles-holder">
          <% @lists.where(user_id:current_user.id).sort_by{|e| e[:due_date]}.each do |list| %>
          <% strDivInner = '<div class="inner-1" id="'+list.id.to_s+'">' %>
            <%= strDivInner.html_safe %>
              <%= check_box_tag(:list, list.title) %>
              <%= list.title %>
            </div><br/>
          <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="small-block-grid-1 items">
          <div class="items-holder">
          <% @items.where(user_id:current_user.id).sort_by{|e| e[:due_date]}.each do |item| %>
          <% strDivInnerItem = '<div class="inner-1" list="'+item.list_id.to_s+'">' %>
            <%= strDivInnerItem.html_safe %>
              <%= check_box_tag(:item, item.name) %>
              <%= item.name %>
            </div><br/>
          <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
