<div>
<div class="row">
    <div class="large-6 medium-centered columns">
      <ul class="inline-list">
        <li>  <%= form_for @list do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.submit class: "button radius" %>
          <% end %>
        </li>
          <li>
            <br/>
          </li>
        <li>  <%= form_for @item do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :list %>
          <%= f.select :list_id, List.all.where(user_id:current_user.id).collect {|list| [list.title, list.id]} %>
          <%= f.label :due_date %>
          <%= f.date_field :due_date %>
          <%= f.submit class: "button radius" %>
        <% end %>
      </li>
      </ul>
    </div>
  </div>
  <center><h4> Items by List </h4></center>
  <br>
  <div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li>
        <div class="small-block-grid-1 title">
          <div class="titles-holder">
          <% @lists.where(user_id:current_user.id).each do |list| %>
          <% strDivInner = '<div class="inner-1" id="'+list.id.to_s+'">' %>
            <%= strDivInner.html_safe %>
              <%= check_box_tag(:list, list.title) %>
              <%= list.title %>
            </div><br/>
          <% end %>
          </div>
        </div>
      </li>
      <li>
        <div class="small-block-grid-1 items">
          <div class="items-holder">
          <% @items.where(user_id:current_user.id).each do |item| %>
          <% strDivInnerItem = '<div class="inner-1" list="'+item.list_id.to_s+'">' %>
            <%= strDivInnerItem.html_safe %>
              <%= check_box_tag(item.name, item.id { onclick: redirect_to items} ) %>
              <%= item.name %>
            </div><br/>
          <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <center><h4> Items to Complete Soon </h4></center>
  <br>
  <div class="row">
  <div class="medium-10 medium-centered columns">
    <ul class="medium-block-grid-2">
      <li>
        <div class="small-block-grid-1 title">
          <div class="days-holder">
            <div class="inner-1" id="<%= Date.today.to_s %>">
              Today <br>
            </div><br/>
            <div class="inner-1" id="<%= Date.tomorrow.to_s %>">
              Tomorrow<br>
            </div><br/>
          </div>
        </div>
      </li>
      <li>
        <div class="small-block-grid-1 items">
          <div class="days-items-holder">
            <% @items.where(user_id:current_user.id).each do |item| %>
              <% if item.due_date != nil %>
                <% strDivInnerItem = '<div class="inner-1" list="'+item.due_date.to_s+'">' %>
                <%= strDivInnerItem.html_safe %>
                <%= item.name %>
              <% else %>
              <% nil %>
              <% end %>
              </div><br/>

            <% end %>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div id="footer">
    *You'll need to add a date if you want to use the date functionality.</a>
  </div>

</div>
