<h6>Add a new list!</h6>
<%= form_for @list do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :due_date %>
  <%= f.text_field :due_date %>
  <%= f.submit class: "button radius" %>
<% end %>



<ul class="small-block-grid-3 medium-block-grid-4 large-block-grid-5">
  <% @lists.to_a.each do |list| %>
    <li>
      <%= user.lists %>
    </li>
  <% end %>
</ul>
