
<div>

<div class="row">
    <div class="large-6 medium-centered columns">
      <ul class="inline-list">
        <li>  <%= form_for @list do |f| %>
            <%= f.label :title %>
            <%= f.text_field :title %>
            <%= f.label :due_date %>
            <%= f.text_field :due_date %>
            <%= f.submit class: "button radius" %>
          <% end %>
        </li>
          <li>
            <br/>
          </li>
        <li>  <%= form_for @item do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>
          <%= f.label :list_id %>
          <%= f.text_field :list %>
          <%= f.label :due_date %>
          <%= f.text_field :due_date %>
          <%= f.submit class: "button radius" %>
        <% end %>
      </li>
      </ul>
    </div>
  </div>

<div>
  <ul class="small-block-grid-1">
    <% @lists.to_a.each do |list| %>
      <li>
        <%= list.title %>
      </li>
    <% end %>
  </ul>
<div>
