<!DOCTYPE html>
<html>
  <head>
    <title>To Do</title>
    <link href='//fonts.googleapis.com/css?family=Quicksand:300,400,700' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="row">
      <div class="small-12 columns">
        <div class="nav">
          <div class="row">
            <div class="small-6 columns">
              <div class="navleft">
              </div>
            </div>
            <div class="small-6 columns">
              <div class="navright">
                <ul class="inline-list right">

                  <% if signed_in? %>
                    <li><div class="navbutton"><%= link_to image_tag("http://www.abc.net.au/res/bundles/2.0.5/images/icon-menu-grey@1x.gif"), lists_path %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("https://resources.lloydsbank.com/uploadedImages/Business_Resource_Centre/Pages/Guides/Starting_a_Business/icon-graph.png"), user_path(current_user) %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("http://economicshub.com.sg/images/faq_icon.png"), users_path %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("http://tekeye.biz/wp-content/uploads/2013/09/gear_bw_menu.png"), edit_user_registration_path %></div></li>
                    <li><div class="navbutton"><%= link_to image_tag("https://support.avaya.com/images/mobile/mobile/logoutIconSmall.png"), destroy_user_session_path, :method => :delete, :id => 'user_logout' %></div></li>
                  <% else %>
                    <li><%= link_to "Sign Up", new_user_registration_path %></li>
                    <li><%= link_to "Sign In", new_user_session_path %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>

<center> <h1> Errands </h1> </center>

        <div class="flashnotice">


        <%= yield %>

        <footer class="row">
        <div class="large-12 columns">
          <hr/>
          <div class="row">
            <div class="large-6 columns">
              <div class="footer">
                <p>©Saurbier, y'all </p>
              </div>
            </div>
            <div class="large-6 columns">
            </div>
          </div>
        </div>
        </footer>
      </div>
    </div>
  </body>
</html>
